<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Summarizer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <form action="/" method="post">
        <div id="container">
        <div id="pos"><textarea id="textInput" name="text" rows="10" cols="50"></textarea></div><br>
        <div id="btn_pos"><button type="submit" id="btn">Summarize</button></div>
        </div>
    </form>
    <textarea id="output" rows="5" cols="50">
    {% if data %}{{data.message}}{% endif %}
    </textarea><br>
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module">  
    </script> 

    <dotlottie-player src="https://lottie.host/e267179e-fc8f-4a45-896f-6bb92bee8baa/zqIHkZdqoS.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
</body>

</html>
